{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ='stylesheet'href="{% static 'css/estilo.css' %}">
    
</head>
<body>
    <img src ="{% static 'images/django1.png '%}"/>
    <h2 class="center"> programação  back-end e front-end </h2>
    <h1> {{projeto}} </h1>

    <span>{{ logado }}</span>

    {% for produto in produtos %}
        <a href="{% url 'contados' produto.id %}">{{produto.nome}} </a>
    {% endfor %}

    <button onclick="teste();"> clique </button>
    <script type = "text/javascript" src="{% static 'js/scrits.js' %}"></script>
</body>
</html>